{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="ja">
    <meta charset="UTF-8">
    <title>Perverse Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/app.css' %}" rel="stylesheet">
</head>
<body>
    <h1>Perverse Demo</h1>

    <!-- 地図のキャンパス -->
    <div class="map-embed">
        <div id="map-canvas"></div>
    </div>

    <button id="btn">現在位置更新</button>

    <div id = text-wrapper>
        <div id="message"></div>
        <div id="count"></div>
    </div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true&libraries=geometry"></script>
<script src="{% static 'js/app.js' %}"></script>
</body>
</html>

